@use 'bulma/versions/bulma-no-dark-mode';

.container {
  @extend .p-3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  @extend .block;
}

.content {
  @extend .block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.confirm {
  @extend .block;
}